.job-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-top: 8%;
    margin-left: 9%;
    gap: 20px;
    background-color: #d8f5d3;
}

.job-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    background: green;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
}

section {
    margin-top: 25px;
}

h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.job-info-block {
    margin-top: 20px;
}

.job-info-block h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* -------------------- */
/* 회사 정보 박스 스타일 */
/* -------------------- */
.contact-box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.job-desc {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.contact-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info p {
    margin: 4px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.contact-info img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.arrow {
    font-size: 20px;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 6px;
    font-size: 14px;
}

.notice {
    color: red;
    font-size: 13px;
}

.resume-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
    background: #f7f7f7;
    cursor: pointer;
    transition: 0.2s;
}

.resume-item:hover {
    background: #e0ffe0;
}

/* 문의사항 */
.qa-section .qa-item {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.qa-section .time {
    font-size: 12px;
    color: gray;
}

.qa-section .reply {
    margin-left: 10px;
    font-size: 13px;
    margin-top: 4px;
}

/* 버튼 */
.btn-area {
    text-align: right;
    margin-top: 20px;
}

.edit, .delete {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.edit {
    background-color: #4CAF50;
    color: white;
}

.delete {
    background-color: #f44336;
    color: white;
}

/* 모달창 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
