.content {
    display: flex;
    margin-top: 8%;
    max-width: 1200px;
}

.contest-list {
    width: 100%;
    padding: 20px;
}

.filter-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#sort-filter,
#start-date,
#end-date {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-wrapper {
    position: relative;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.search-btn img {
    width: 28px;
    height: 28px;
}

/* 검색창 */
.search-box {
    position: absolute;
    top: 40px;
    left: 0;
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.search-box.active {
    display: block;
}

.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-header input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

#search-close {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
}

.contest-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.contest-table th,
.contest-table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contest-table th {
    background-color: #F0FFEF;
    border-top: 2px solid #00b800;
    color: #404040;
    font-weight: bold;
}

.contest-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.contest-table td {
    color: #555;
    background-color: #fff;
}

.contest-table td:last-child {
    color: #00b100;
    font-weight: bold;
}

.aa {
    text-decoration: none;
    color: #494949;
}

.aa:hover {
    font-weight: bold;
}
