.main-banner {
    margin-top: 70px;
    position: relative;
    text-align: center;
    margin: 0 -12.5%;
}

.project-list {
    width: 70%;
    padding: 20px;
    margin: 0 10%;
}

.contest-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.contest-table th,
.contest-table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.contest-table th {
    background-color: #F0FFEF;
    border-top: 2px solid #00b800;
    text-align: center;
    color: #404040;
    font-weight: bold;
    white-space: nowrap; /* ✅ 헤더 줄바꿈 방지 */
}

.contest-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.contest-table td:last-child {
    text-align: center;
}

.contest-table td {
    color: #555;
    background-color: #fff;
    text-decoration: none; /* 링크 밑줄 제거 */
}

.contest-table td:first-child {
    text-decoration: none;
}
.contest-table td:last-child {
    color: #00b100;
    font-weight: bold;
}

.create-post-button {
    margin-left: 90%;
    border: none;
    background-color: #16ca16;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.create-post-button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
