<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <title>채팅창</title>
    <link rel="stylesheet" href="/css/chat_popup.css">
</head>
<body>

<div class="chat-popup-header">
    <span>채팅목록</span>
    <div class="add-chat-wrapper">
        <button class="add-chat-btn" onclick="toggleAddMenu()">+</button>
        <ul class="add-chat-menu" id="addChatMenu">
            <li onclick="createNewChat()">1:1 채팅 시작</li>
            <li onclick="createGroupChat()">단체 채팅 만들기</li>
        </ul>
    </div>
</div>


<div class="chat-container">
    <!-- 채팅방 목록 -->
</div>

<!-- 우클릭 메뉴 -->
<ul class="chat-context-menu" id="chatContextMenu">
    <li onclick="handleChatOption('open')">채팅방 열기</li>
    <li onclick="handleChatOption('rename')">채팅방 이름 설정</li>
    <li onclick="handleChatOption('pin')">채팅방 상단 고정</li>
    <li onclick="handleChatOption('leave')">채팅방 나가기</li>
</ul>

<script src="/js/chat_popup.js"></script>
</body>
</html>
