<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SPACE</title>
    <link rel="stylesheet" href="/css/plan.css">
</head>
<body>

<div class="modal-header">
    <span>SPACE</span>
    <span class="close-btn" onclick="window.close();">&times;</span>
</div>

<ul class="plan-list">
    <!-- 주최한 프로젝트 목록 (상태가 "완료", "신청중", "거절됨"이 아닌 프로젝트만 표시) -->
    <div>
        <h3>주최한 프로젝트</h3>
        <li th:each="project : ${createdProjects}" th:if="${project.status != '완료' and project.status != '신청중' and project.status != '거절됨'}">
            <a th:href="@{/todohome/{id}(id=${project.id})}" th:text="${project.title}" class="protitle">프로젝트 제목</a>
        </li>
    </div>

    <!-- 참여한 프로젝트 목록 (상태가 "완료", "신청중", "거절됨"이 아닌 프로젝트만 표시) -->
    <div>
        <h3>참여한 프로젝트</h3>
        <li th:each="project : ${joinedProjects}" th:if="${project.status != '완료' and project.status != '신청중' and project.status != '거절됨'}">
            <a th:href="@{/todohome/{id}(id=${project.id})}" th:text="${project.title}" class="protitle">프로젝트 제목</a>
        </li>
    </div>

    <!-- 팀장 공모전 -->
    <div>
        <h3>팀장 공모전</h3>
        <li th:each="contest : ${leaderContests}"
            th:if="${contest.status != '완료' and contest.status != '신청중' and contest.status != '거절됨'}">
            <a th:href="@{/contesthome/{id}(id=${team.id})}"
               th:text="${team.contest.title}" class="protitle">공모전 제목</a>
        </li>
    </div>

    <!-- 참여 공모전 -->
    <div>
        <h3>참여 공모전</h3>
        <li th:each="contest : ${joinedContests}"
            th:if="${contest.status != '완료' and contest.status != '신청중' and contest.status != '거절됨'}">
            <a th:href="@{/contesthome/{id}(id=${team.id})}"
               th:text="${team.contest.title}" class="protitle">공모전 제목</a>
        </li>
    </div>
</ul>

<script>
    function toggleStar(element) {
        if (element.innerHTML === "★") {
            element.innerHTML = "☆"; // 빈 별
            element.style.color = "gray";
        } else {
            element.innerHTML = "★"; // 채운 별
            element.style.color = "gold";
        }
    }
</script>

</body>
</html>
