<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>프로젝트 WBS</title>
    <link rel="stylesheet" href="css/todo_crud.css">
</head>
<body>

<div class="container">
    <div class="modal">
        <div class="crud-container">
            <div class="header">
                <button class="back-btn">&lt;</button>
                <h2>프로젝트A</h2>
                <button class="close-btn">&times;</button>
            </div>

            <div class="crud-title">
                <h3>WBS</h3>
            </div>

            <div class="table-container">
                <table id="crud-table">
                    <thead>
                    <tr id="month-row">
                        <th rowspan="2" colspan="2" class="project-title">프로젝트명을 입력해주세요</th>
                        <th colspan="5">1월</th>
                        <th colspan="5">2월</th>
                        <th colspan="5">3월</th>
                        <th rowspan="2" class="add-month">월 추가</th>
                    </tr>
                    <tr id="week-row"></tr>
                    </thead>
                    <tbody id="crud-body"></tbody>
                </table>
                <button id="add-category" class="category-btn">+ 항목 추가</button>
            </div>
        </div>
    </div>
</div>

<script src="js/todo_crud.js"></script>
</body>
</html>
